[submodule "vagrant-ubuntu-xenial64"]
	path = vagrant-ubuntu-xenial64
	url = git@github.com:abuuzayr/vagrant-ubuntu-xenial64.git
[submodule "roles"]
	path = roles
	url = git@github.com:abuuzayr/ansible-odoo-roles.git
	branch = dev
[submodule "tasks"]
	path = tasks
	url = git@github.com:abuuzayr/ansible-odoo-tasks.git
	branch = dev
